.UnitOption {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}

.UnitOption:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    font-size: 15px;
    transition-duration: 0.2s;
}

.UnitOption:focus {
    font-size: 15.5px;
    transition-duration: 0.2s;
}
